<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/cms.css">
  </head>
  <body>
    <p id=<%= display_if_message %>><%= display_message %></p>
    <%= yield %>
  </body>
</html>
