<form action="/sign_in" method="post">
  <label for="username">Username:<label>
  <input id="username" name="user" type="text" placeholder=""><br>
  <label for="password">Password:<label>
  <input id="password" name="pass" type="text" placeholder=""><br>
  <button type="submit">Sign In</button>
<form>
